html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-image: url("https://wallpapercave.com/wp/DRd73IK.jpg");

  /* ('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQJTWqDf9Lp2ps93v4_DRXKK9vyqa2f9oAZA&usqp=CAU'); */
}

#container {
  display: grid;
  grid-template-columns: 185px auto 280px;
  grid-template-rows: 25px auto auto;
  gap: 0px;
  max-width: 75%;
  margin: auto;
  height: 100%;
  background-color: rgb(99, 99, 99, 0.7);
}

#header {
  grid-column: auto / span 3;
  text-align: center;
  background-color: rgb(48, 48, 48);
}

#main1 {
  grid-column: 185px / span 2;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center;
  padding-left: 0px;
  padding-right: 25px;
  margin-left: 0px;
  background: linear-gradient(rgb(0, 0, 0, 0), rgb(211, 211, 211));
}

#main1 img {
  object-fit: container;
}

#main2 {
  grid-column: auto / span 1;
  overflow: auto;
  justify-content: center;
  text-align: center;
}

#main2 img {
  max-height: 95%;
  max-width: 95%;
}

#buttonContainer {
  text-align: center;
  filter: invert(1);
}

#main3 {
  background: linear-gradient(rgb(0, 0, 0, 0), rgb(211, 211, 211));
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  object-fit: contain;
}

.poketype img {
  margin-top: 5px;
  width: 50px;
  height: 50px;
}

#comments {
  width: 250px;
  box-sizing: border-box;
  resize: both;
  overflow: auto;
  background: white;
}

#main3comment {
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background: white;
  border-width: 1px;
  max-width: 248px;
  height: 90px;
  overflow: auto;
}

#footer {
  grid-column: auto / span 3;
  background-color: rgb(48, 48, 48);
  text-align: right;
  color: white;
  padding-top: 7px;
  padding-right: 5px;
}

.centerCont {
  text-align: center;
}

::-webkit-scrollbar {
  width: 15px;
  height: 30px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgb(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb:vertical {
  height: 45px;
  background-color: rgb(48, 48, 48);
}

.invert {
  filter: invert(1);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 90%;
}