html, body {
    margin: 0;
    height: 100%;
}

.container {
    background-color: rgb(135, 158, 222);
    display: grid;
    grid-template-columns: 125px auto;
    grid-template-rows: 100px auto 100px;
    gap: 0px;
    max-width: 100rem;
    margin: auto;
    height: 100%;
}

.box {
    background-color: brown;
    border-style: solid;
    border-color: rgb(0,0,0);
    border-width: 1px;
}

.header {
    grid-column: auto / span 3;
}

.main2 {
    grid-column: auto / span 2;
}

/* .main2 {

} */

.footer {
    grid-column: auto / span 3;
}